body {
	background: #3e5443;
}
.container {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:rgba(0, 0, 0, 0.3);
	padding: 40px;
    border-radius: 30px 10px;
	color: #fff;
	text-align: center;
}
.container h2 {
	text-transform: uppercase;
	font-family: poppins;
	margin-bottom: 10%;
}
input[type="text"] {
	height: 30px;
    margin-top: 6px;

}
input[type="text"] {
	font-size: 24px;
}
button {
	background: #EE4477;
	border: none;
    border-radius: 30px;
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: monospace;
	letter-spacing: 2px;
	font-weight: bold;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
b {
	font-size: 30px;
}
