body{
    background-color: #985086;
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    font-family: monospace;
    text-align: center;
    color: #0c0c0c;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
   
}

.texto{
    align-items: center;
    width: 60vw;
    background-color: #dfdddb;
    padding: 2em; 
    border-radius: 2em;
}

.texto p{
    width: 60%;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
}

#nome{
    background-color: rgb(208, 246, 15);
}